.container-form {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background: #9677EFCC;
}

.form {
    border: 1px solid #ffffff;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    padding: 1rem;
    align-items: center;
    padding: 2rem;
    background: #FFFFFF;
    height: 300px;
}

.form input {
    width: 100%;
    margin: 8px;
    padding: 5px;
}

.title-form {
    font-family: Neuton;
    font-size: 28px;
    line-height: 100%;
    text-align: Center;
}

.button-form {
    all: unset;
    width: 100%;
    margin: 8px;
    cursor: pointer;
    margin-top: 50px;
    background: #E65B7C;
    border: 1px solid #E65B7C;
    border-radius: 8px;
    text-align: center;
    padding: 8px;
}

.form-link {
    all: unset;
    background: #5B86E6;
    text-decoration: none;
    border: 1px solid #5B86E6;
    border-radius: 8px;
    width: 100%;
    margin: 8px;
    text-align: center;
    padding: 8px;
    cursor: pointer;
}

.tost-notify {
    margin: 0;
    padding: 0;
    text-align: center;
}